<!DOCTYPE html>

<html lang ="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title></title>
</head>
<h5> Library</h5>
<table class = "table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Books</th>
        <th scope="col">Option</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="author:${listOfAuthors}">
        <td th:text="${author.name}"></td>
        <td th:text="${author.lastName}"></td>
        <td><a class="btn btn-primary btn-sm"
               th:href="@{editAuthor(name=${author.name})}">Edit</a></td>
    </tr>
    </tbody>
</table>
<form action="newAuthor">
    <input type="submit" value="NEW" class="btn btn-primary btn-sm"/>
</form>
</html>