<!DOCTYPE html>

<html lang ="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <title></title>
</head>
<h5>Add new Book</h5>
<body>

    <form action="insertBook">
        <div class="form-group">
            <label for="title">Title:</label> <input type="text" name="title" class="form-control" id="title"/>
            <div class="form-group">
                <label for="ISBN">ISBN:</label> <input type="text" name="ISBN" class="form-control" id="ISBN"/>
            </div>
            <div>
                <label for="pages">Pages:</label> <input type="text" name="pages" class="form-control" id="pages"/>
            </div>
            <div class="form-group">
                <input type="submit" value="SEND" class="btn btn-primary btn-sm"/>
            </div>
        </div>
    </form>
</body>
</html>